{{ ansible_managed | comment }}

[{{ barman_client.value.pgsqlhost }}]
description = "{{ barman_client.value.description }}"
ssh_command = ssh {{ barman_client.value.pgsql_admin_user }}@{{ barman_client.value.pgsqlhost }}
streaming_conninfo=host={{ barman_client.value.pgsqlhost }} user={{ barman_dbuser }} dbname=postgres port=5432
conninfo=host={{ barman_client.value.pgsqlhost }} user={{ barman_dbuser }}  dbname=postgres port=5432
#backup_method = rsync
backup_method = postgres
streaming_archiver = on
#archiver = on
#path_prefix=/usr/pgsql-11/bin/
slot_name = {{ barman_dbuser }}
retention_policy = {{ barman_client.value.retention }}
